body {
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
}

li {
	display: contents;
}

span {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	border: 3px solid #dddddd;
}

span[clickable=true] {
	position: relative;
}

div.color-picker {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	background: #333333;
	border-radius: 6px;
	padding: 6px;
	z-index: 1;
	top: 30px;
	left: 50%;
	transform: translate(-50%);
}
